<header class="d-flex justify-content-between mb-2">
  <h1>Your Events</h1>
</header>

<div class="mb-4">
  <div class="d-flex justify-content-between m-3">
    <%= render partial: "events/search_form" %>
    <div class="d-flex">
      <span class="m-2">Filter by: </span>
      <div>
        <%= sort_link(@search_result, :name, 'Event Name', class: "btn btn-light me-2") %>
        <%= sort_link(@search_result, :starts_at, 'Date', class: "btn btn-light me-2") %>
        <%= link_to "Clear all", request.path, class:"btn btn-light" %>
      </div>
    </div>
  </div>
  <% if @events.empty? %>
    <br>
    <span>You don't have any events yet.</span>
  <% else %>
    <div class="mb-2 d-flex flex-wrap">
      <%= render @events %>
    </div>
    <% if @pagy.pages > 1 %>
      <div>
        <%== pagy_bootstrap_nav(@pagy) %>
        <%== pagy_info @pagy %>
      </div>
    <% end %>
  <% end %>
</div>
