<h1>New Event</h1>

<div class="mt-4">
  <%= form_with model: @event, url: events_url, id: "new_event_form" do |f| %>
    <div class="row mb-3">
      <div class="col">
        <div class="mb-3">
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
          <small class="text-danger">
            <%= @event.errors.messages_for(:name).join(", ") if @event.errors.any? %>
          </small>
        </div>
        <div class="mb-3">
          <%= f.label :description, class: "form-label" %>
          <%= f.text_area :description, placeholder: "Please enter description", class: "form-control" %>
        </div>
        <div class="mb-3">
          <div class="input-group d-flex">
            <%= f.label :category_id, "Category:", class: "input-group-text" %>
            <%= f.select :category_id, category_options_for_select(@event.category_id), { include_blank: true }, { class: "form-select" } %>
            <div>
              <%= link_to "New Category", new_category_path, class: "btn btn-outline-dark ms-2 mt-1 btn-sm" %>
            </div>
          </div>
          <small class="text-danger">
            <%= @event.errors.messages_for(:category).join(", ") if @event.errors.any? %>
          </small>
        </div>
      </div>
      <div class="col">
        <div class="mb-3 d-flex">
          <div>
            <%= f.check_box :all_day, class: "form-check-input me-2", id: "all_day_checkbox" %>
          </div>
          <%= f.label :all_day, "All-day", class: "form-check-label" %>
        </div>
        <div class="mb-3">
          <%= f.label :starts_at, class: "form-label" %>
          <%= f.datetime_select :starts_at, { :include_blank => true, selected: @event.starts_at_for_new_page, class: "form-control", start_year: @event.decorated_start_year } %>
          <small class="text-danger">
            <%= @event.errors.messages_for(:starts_at).join(", ") if @event.errors.any? %>
          </small>
        </div>
        <div class="mb-3" id="ends_at_time">
          <%= f.label :ends_at, class: "form-label me-2" %>
          <%= f.datetime_select :ends_at, { :include_blank => true, class: "form-control", start_year: @event.decorated_start_year } %>
          <small class="text-danger">
            <%= @event.errors.messages_for(:ends_at).join(", ") if @event.errors.any? %>
          </small>
        </div>
        <div class="mb-3 d-flex">
          <div>
            <input type="checkbox" class="form-check-input me-2" id="notify_at_checkbox"
                   <% if @event.notify_at? %>
                   checked
                   <% end %>
                   >
          </div>
          <label for="notify_at_checkbox" class="form-check-label">Set a notification</label>
        </div>
        <div class="mb-3" id="notification_time">
          <%= f.label :notify_at, class: "form-label" %>
          <%= f.datetime_select :notify_at, { :include_blank => true, class: "form-control", start_year: @event.decorated_start_year } %>
          <small class="text-danger">
            <%= @event.errors.messages_for(:notify_at).join(", ") if @event.errors.any? %>
          </small>
        </div>
      </div>
    </div>
    <%= f.submit "Create Event", class: "btn btn-primary" %>
  <% end %>
</div>
