<div class="d-flex justify-content-end mb-4">
  <% if policy(@event).update? %>
    <div>
      <%= link_to "Edit", edit_event_path(@event), class: "btn btn-secondary btn-sm" %>
    </div>
  <% end %>
  <%= button_to "Delete", event_path(@event), method: :delete, class: "btn btn-danger btn-sm ms-3" %>
</div>
<header class="d-flex justify-content-between">
  <div>
    <div class="text-break">
      <h2 style="max-width: 800px"><%= @event.name %></h2>
    </div>
  </div>
  <div class="d-flex justify-content-end" style="min-width: 300px; max-height: 50px">
    <% if @event.all_day %>
      <div>
        <div class="ms-1 h-50 badge rounded-pill bg-info">All day</div>
      </div>
    <% end %>
    <div class="ms-2 fs-5 text-end">
      <%= @event.decorated_time_interval %>
    </div>
  </div>
</header>
<div class="d-flex justify-content-between w-100">
  <div>
    <span class="badge rounded-pill bg-primary"><%= @event.decorated_category_tag %></span>
    <% unless policy(@event).update? %>
      <span class="badge rounded-pill bg-secondary">Outdated</span>
    <% end %>
  </div>
  <div>
    <span class="text-success"><%= @event.decorated_notify_at %></span>
  </div>
</div>
<div class="mt-4">
  <div class="text-bg-secondary">
    <%= @event.description %>
  </div>
</div>
