<% if @json_parse_error %>
  <div class="text-end">
    <%= @json_parse_error %>
  </div>
<% else %>
  <div class="d-flex justify-content-end">
    <img src="<%= @weather.image %>" alt="image">
  </div>
  <div>
    <span><%= @weather.description %></span>
  </div>
  <span>Temperature: <%= @weather.temperature %>°C</span>
  <p>Precipitation probability: <%= @weather.precipitation %>%</p>
<% end %>
