<header class="d-flex justify-content-between mb-2">
  <h1>Categories</h1>
  <div>
    <%= link_to "Add Category", new_category_path, class: "btn btn-primary" %>
  </div>
</header>

<div class="mb-4">
  <div class="d-flex justify-content-between m-3">
    <%= render partial: "categories/search_form" %>
    <div class="d-flex">
      <span class="m-2">Filter by: </span>
      <div>
        <%= sort_link(@search_result, :id, 'Date of creation', class: "btn btn-light me-2") %>
        <%= sort_link(@search_result, :name, 'Category Name', class: "btn btn-light me-2") %>
        <%= link_to "Clear all", request.path, class:"btn btn-light" %>
      </div>
    </div>
  </div>
  <% if @categories.empty? %>
    <div class="m-4">
      <span>You don't have any categories yet.</span>
    </div>
  <% else %>
    <ul class="list-group list-group-flush mb-2">
      <%= render @categories %>
    </ul>
    <% if @pagy.pages > 1 %>
      <div>
        <%== pagy_nav(@pagy) %>
        <%== pagy_info @pagy %>
      </div>
    <% end %>
  <% end %>
</div>
